.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
myenv/
*.egg-info/
.env
.env.local

data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
